<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ke.wanandroid.mine">

    <application>
        <activity android:name=".ui.coinrank.CoinRankActivity" />
        <activity android:name=".ui.login.LoginRegisterActivity" />
        <activity android:name=".ui.coin.MyCoinActivity" />
        <activity android:name=".ui.sharedarticles.UserSharedArticlesActivity" />
        <activity android:name=".ui.collections.MyCollectionsActivity" />
        <activity android:name=".ui.myshare.MyShareArticlesActivity" />
        <activity android:name=".ui.sharearticle.ShareArticleActivity" />
        <activity android:name=".ui.record.ArticleRecordsActivity" />
    </application>

</manifest>