<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ke.wanandroid.settings">

    <application>
        <activity android:name=".main.SettingsActivity"/>
        <activity android:name=".nightmode.NightModeActivity"/>
    </application>
</manifest>